@model NutriSoftwareV2.Negocio.Domain.Dieta
@{

    int contador = 0;
    int ContaAlimentos = 0;
    int contaSub = 0;
    int cantadorIntervalo = 0;
    var x = Model;
    string codigoDieta = @ViewBag.CodigoMemory;
    int pacienteId = ViewBag.PacienteId;
    bool editar = (bool)(ViewBag.Editar == null ? false : ViewBag.Editar);
}



<div class="col-12">
    <h3 class="text-center p-2" style="background-color: #acacac; color: #6c6b6b;">Plano Alimentar</h3>
    <div class="container-fluid bg-light m-0 pe-2" style="position:fixed;border: solid 1px #adb5bd; z-index: 100; width:auto; padding-left:68px;">
        <div class="row mt-1 ps-2 pe-2">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="row m-0 p-0">
                    <div class="col-12 p-1">
                        <h6>Horário</h6>
                        <input type="text" onblur="verificaHorarioCorreto(this.value)" mask="hora" id="horario" class="form-control w-100" />
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-12 p-">
                <form method="post" id="frmInserirAlimentos" class="m-0 p-0" style="width:100%">

                    <div class="row p-0 m-0">
                        <div class="col-4 p-1">
                            <h6>Alimentos</h6>
                            <input type="text" onfocus="AutoCompleteFieldAlimentos()" onblur="habilitarbotoes(1)" id="txtAlimento" class="form-control w-100" />
                            <input type="hidden" name="AlimentoId" id="txtAlimentoId" class="form-control" />
                            <input type="hidden" name="Tipo" class="form-control w-100" id="tipoAlimento" />
                            <input type="hidden" name="CodigoDieta" value="@codigoDieta" class="form-control w-100" />
                            <input type="hidden" name="Editar" value="@editar" class="form-control w-100" id="txtEditVal" />
                            <input type="hidden" name="PacienteId" value="@pacienteId" class="form-control w-100" />
                            <input type="hidden" name="Hora" class="form-control w-100 hora" />
                        </div>
                        <div class="col-2 p-1">
                            <h6>Qtd</h6>
                            <input type="text" onblur="habilitarbotoes(1)" name="QuantidadeAlimento" mask="Qtd" id="txtQuantidadeAlimento" class="form-control w-100" />
                        </div>
                        <div class="col-4 p-1">
                            <h6>Tipo Medida</h6>
                            <input type="text" onfocus="AutoCompeteTipoMedidaAlimento()" onblur="habilitarbotoes(1)" id="txtTpMedidaAlimento" class="form-control w-100" />
                            <input type="hidden" name="TipoMedidaAlimentoId" id="txtTpMedidaAlimentoId" class="form-control w-100" />
                        </div>
                        <div class="col-2" style="padding-top:28px">
                            <input type="checkbox" value="2" id="substituir" style="margin:15px 0" />
                            Substituir
                        </div>
                        <div class="col-10 p-0 pb-1">
                            <button type="button" onclick="adicionarAlimentos(1,'@editar')" id="btnInserirAlimentos" class="btn btn-primary float-lg-right m-1 float-end"><i class="fa fa-plus"></i> Adicionar</button>
                            <button class="btn btn-info float-lg-right m-1 float-end"><i class="fa fa-history"></i> Limpar</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div style="clear:both"></div>
    <div class="container-fluid" id="prtListaAlimentos" style="height:auto; margin-top:135px;">
        <partial name="PartiaisConsulta/PartiaisDieta/_ListaAlimentos" for="@Model.PlanosAlimentares" />
    </div>
</div>

