@model NutriSoftwareV2.Negocio.Domain.Consulta


@{
    var result = Model;
    var codigoDieta = ViewBag.CodigoMemory;
    bool? editar = ViewBag.Editar;
}



    <div class="row mt-1">
        <div class="container" style="border: solid 2px #c4c0c0; padding: 0 0 10px 0; ">
            <div class="col-12">
                <button class="btn btn-outline-dark d-lg-inline-block">Anotações</button>
                <button class="btn btn-outline-dark d-lg-inline-block">Avaliação</button>
                <button class="btn btn-outline-dark d-lg-inline-block">Dieta</button>
            </div>
        </div>
    </div>
    <div class="row mt3" id="pnlCadastroAnotacoes">
        <div class="container" style="border: solid 2px #c4c0c0; padding: 0 0 10px 0; ">
            <div style="clear:both;"></div>
            <div class="col-12">
                <h3 class="text-center" style="background-color: #acacac; border-radius: 0 0 50px 50px; padding: 0px 0 10px 0; color: #6c6b6b;">Anotações</h3>
                <form method="post" id="frmObservacaoConslta" class="p-0 m-0">
                    <input type="hidden" name="PacienteId" value="@Model.PacienteId" />
                    <input type="hidden" name="Codigo" value="@codigoDieta" />
                    <input type="hidden" name="Editar" value="@editar" class="txtEditar" />
                    <textarea asp-for="Anotacoes" class="form-control" rows="10" id="txtAnotacoesIniciaisConsulta"></textarea>
                    <div id="plnBotaoAnotacoes" class="mt-1">
                        <button type="button" onclick="inserirAnotacoes()" class="btn btn-primary" id="btnInserirAnotacoes">
                            <i class="fa fa-chevron-right"></i> Inserir
                        </button>
                    </div>
                    <div id="pnlBotaoEditarObservacaoConsulta" style="display:none;" class="mt-1">
                        <button type="button" onclick="EditarPassoConsulta(1,'@codigoDieta','@editar')" class="btn btn-secondary" id="btnInserirAnotacoes">
                            <i class="fa fa-pencil"></i> Editar
                        </button>

                    </div>
                    <div id="pnlBotaoSalvarEdicaoObservacaoConsulta" style="display:none;" class="mt-1">
                        <button type="button" onclick="SalvarAlteracoes('#frmObservacaoConslta', 'PrimeiroPassoObservacoes')" class="btn btn-secondary" id="btnInserirAnotacoes">
                            <i class="fa fa-pencil"></i> Salvar alteração
                        </button>
                        <button type="button" onclick="cancelarAlteracaoConsulta()" class="btn btn-secondary" id="btnInserirAnotacoes">
                            <i class="fa fa-refresh"></i> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="pnlCadastroAvaliacao">
        <partial name="PartiaisConsulta/PartiaisAvaliacao/_FomularioAvaliacao" for="@Model.Avaliacao" />
    </div>

    <div class="row" id="pnlCadastroDieta">
        <partial name="PartiaisConsulta/PartiaisDieta/_CadastrarDieta" for="@Model.DietaPlano" />
    </div>

</div>
