@model IEnumerable<NutriSoftwareV2.Negocio.Domain.Paciente>

@{
    NutriSoftwareV2.Negocio.Domain.Paciente pacienteDetalhado = ViewBag.Paciente;

    string textoPaciente = Model.ToList().Count > 1 ? "Pacientes" : "Paciente";

}


<div class="row mt-5">
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-search d-inline-block" title="Pesquisar Paciente"></i> <span class="d-inline-block">Pesquisar</span>  <input type="text" oninput="filtrarPacientes()" name="pesquisaPaciente" id="txtPesquisaPaciente" class="form-control form-control-sm d-inline-block" />
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mt-4">
        <div class="row p-1">
            <div class="col-12 pb-2" style="border-radius: 5px; border: solid 5px #d8f0d6;">
                <h3 class="text-center" style="color: #918f8f;">Pacientes</h3>
                <div class="m-auto p-2 bg-white" style="width: 99%; border: solid 1px #d8d8d8; border-radius: 5px; height: 440px; overflow:auto;">
                    <table class="table table-striped" id="listaDepacientes">
                        <tbody>
                            <partial name="PartiaisPaciente/_ListaDePacientes" for="@Model" />
                        </tbody>
                    </table>
                </div>
                <p class="float-left m-3 text-secondary"><b>@Model.ToList().Count  @textoPaciente</b></p>
                <button onclick="AbrirModalParaCadastro()" class="float-right mr-2 btn btn-secondary mt-3">
                    <i class="fa fa-plus" title="Cadastrar Novo Paciente"></i>
                </button>

            </div>
        </div>
    </div>
    @if (pacienteDetalhado != null)
    {
        <div class="col-sm-12 col-md-4 col-lg-4 mt-4">
            <div class="row p-1">
                <div class="col-12 pb-2" style="border-radius: 5px; border: solid 5px #d8f0d6;">
                    <h3 class="text-center" style="color: #918f8f;">Dados Pessoais</h3>
                    <div class="m-auto p-3 bg-white" style="width: 99%; border: solid 1px #d8d8d8; border-radius: 5px; height: 440px;" id="dadosPessoais">
                        <partial name="PartiaisPaciente/_DetalhesPaciente" for="@pacienteDetalhado" />
                    </div>
                    <p class="mt-3">
                        <br />
                    </p>

                    <a href="@Url.Action("Index","Consulta",new {Id=pacienteDetalhado.Id})" class="btn btn-light ml-2 mt-3" style="border-radius:25px;">
                        <i class="fa fa-stethoscope" aria-hidden="true" title="Consultas"></i>
                    </a>

                    <a href="@Url.Action("AvaliacoesDoPaciente","Avaliacao",new {Id=pacienteDetalhado.Id})" class="btn btn-light ml-2 mt-3" style="border-radius:25px;">
                        <i class="fa fa-table" title="Avaliações"></i>
                    </a>

                    <a href="@Url.Action("DietasPaciente","Dieta",new {Id=pacienteDetalhado.Id })" class="btn btn-light ml-2 mt-3" style="border-radius:25px;">
                        <i class="fa fa-wpforms" aria-hidden="true" title="Dietas"></i>
                    </a>

                    <a href="@Url.Action("PagamentosPaciente","Pagamento",new {Id=pacienteDetalhado.Id })" class="btn btn-light ml-2 mt-3" style="border-radius:25px;">
                        <i class="fa fa-money" title="Pagamentos"></i>
                    </a>

                    <button type="button" value="@pacienteDetalhado.Id" onclick="AbrirFormulariEdicao(this.value)" class="btn btn-light ml-2 mt-3" style="border-radius:25px;">
                        <i class="fa fa-pencil-square" title="Editar"></i>
                    </button>

                    <button type="button" value="@pacienteDetalhado.Id" onclick="ExcluirPaciente(this.value)" class="btn btn-light ml-2 mt-3" style="border-radius:25px;">
                        <i class="fa fa-trash" title="Excluir"></i>
                    </button>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 mt-4">
            <div class="row p-1">
                <div class="col-12 pb-2" style="border-radius: 5px; border: solid 5px #d8f0d6;">
                    <h3 class="text-center" style="color: #918f8f;">Anotações</h3>
                    <div id="observacoes">
                        <partial name="PartiaisPaciente/_ObservacaoPaciente" for="@pacienteDetalhado.Anotacoes" />
                    </div>
                    <button type="button" value="@pacienteDetalhado.Id" onclick="abrirModalObservacao(this.value)" class="btn btn-secondary float-right mt-3 mr-2">
                        <i class="fa fa-plus" title="Adicionar nova Observação"></i>
                    </button>
                </div>
            </div>

        </div>
    }
</div>