@model NutriSoftwareV2.Negocio.Domain.Consulta

@{
    var teste = Model;
    bool? editar = ViewBag.Editar;
    var codigoConsulta = ViewBag.CodigoMemory;
    List<NutriSoftwareV2.Negocio.Domain.AvaliacaoFisica> avaliacoes = ViewBag.Avaliacoes == null ? new List<NutriSoftwareV2.Negocio.Domain.AvaliacaoFisica>() : (List<NutriSoftwareV2.Negocio.Domain.AvaliacaoFisica>)ViewBag.Avaliacoes;
}




<div id="pnlTotal" class="container" style="margin-top:65px">

    <div class="row ps-3 pe-3">
        <div class="col-12"><h3>Cadastro de Consulta</h3></div>
    </div>
    <div class="row card-shadow" style="">
        <div class="containercontainer-fluid p-0 m-0">

            <div class="row p-2">
                <div class="col-12">
                    <ul class="pt-2">
                        <li class="d-inline-block text-center" style="width:30%"><a onclick="AbrirAba_Onclick('@Url.Action("AbrirAbaAnotacoes","Consulta")',this.id,'@codigoConsulta','@Model.PacienteId')" class="text-decoration-none fw-bold pt-2 pb-2 ps-3 pe-3 fs-5 fs-5 btn-menu-consulta-selecionado btn-menus-consulta" id="btnAnotacao">Anotação</a></li>
                        <li class="d-inline-block text-center" style="width:30%"><a onclick="AbrirAba_Onclick('@Url.Action("AbrirAbaAvaliacao","Consulta")',this.id,'@codigoConsulta','@Model.PacienteId')" class="text-decoration-none fw-bold fs-5 pt-2 pb-2 ps-3 pe-3 fs-5 btn-menus-consulta" style="border: solid 1px #efefef;" id="btnAvaliacao">Avaliação</a></li>
                        <li class="d-inline-block text-center" style="width:30%"><a onclick="AbrirAba_Onclick('@Url.Action("AbrirAbaPlanoAlimentar","Consulta")',this.id,'@codigoConsulta','@Model.PacienteId')" class="text-decoration-none fw-bold fs-5 pt-2 pb-2 ps-3 pe-3 fs-5 btn-menus-consulta" style="border: solid 1px #efefef;" id="btnPlanoAlimentar">Plano alimentar</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="row card-shadow mt-3">
        <div class="containercontainer-fluid p-0 m-0">
            <div class="row p-2" id="pnlConteudoConsulta" style="min-height:300px;">
                @* <partial name="PartiaisConsulta/PartiaisDieta/_CadastrarDieta" for="@Model.Dieta" /> *@
                @* <partial name="PartiaisConsulta/PartiaisAvaliacao/_FomularioAvaliacao" for="@Model.Avaliacao" /> *@
                <partial name="PartiaisConsulta/_Anotacao" for="@Model"/>
            </div>
            <div class="row p-2">
                <div class="col-12 pr-0">
                    <div style="float:right">
                        <form method="post" asp-action="FinalizarConsulta" asp-controller="Consulta" class="p-0 m-0" id="frmFinalizarConsulta">
                            <input type="hidden" name="Codigo" value="@codigoConsulta" />
                            <input type="hidden" name="PacienteId" value="@Model.PacienteId" />
                            <button type="button"
                                    onclick="confirm('frmFinalizarConsulta','Deseja realmente finalizar esta consulta ?')"
                                    class="btn btn-success fs-5 p-3">
                                <i class="fa fa-floppy-o"></i>
                                Salvar e finalizar Consulta
                            </button>
                        </form>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>

    </div>





    @*  <partial name="PartiaisConsulta/_ConteudoConsulta" for="@Model"/> *@
</div>

@section Scripts {


    @{

        Html.RenderPartial("_ConsultasJs");

    }

}


